.tripListContainer {
  min-height: calc(100vh - 326px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 24px auto;

  .tripsCount {
    float: left;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    width: 1128px;
    margin: 0;
  }
}
